
/** declring the variables of css**/
:root{
--poppins:'Poppins',sans-serif;
--opensans:'Open Sans',sans-serif;
--violet:hsl(257, 40%, 49%);
--softmagenta:hsl(300, 69%, 71%);
}
/** universal css selectors**/
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/** body css **/
body{
background-image:url(./images/bg-desktop.svg);
background-repeat: no-repeat;
background-color: var(--violet);
background-repeat: no-repeat;

}
/**header logo **/
.logo{
    padding: 2rem;
}
/** container make it such that two div side by side**/
.container{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    color: white;
}